.container {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.focus {
    position: absolute;
    transition: transform 0.3s;
    z-index: 3;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
}